<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>User List</h2>

<a href="/new">Add User</a>

<table border="1">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Country</th>
    <th>Actions</th>
</tr>

<tr th:each="user : ${listUsers}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.country}"></td>
    <td>
        <a th:href="@{'/edit/' + ${user.id}}">Edit</a>
        <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
    </td>
</tr>

</table>

</body>
</html>